
/* Mobile Viewport */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  ;
  background-color: #ecf2f8;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 10px;
  box-shadow: 0 79px 77px -73px rgba(0, 0, 0, 0.1);



}

.image {
  overflow: hidden;
  height: 90%;
}

.image img {
  width: 100%;
}

.heading h1 {
  font-size: 18px;
  font-weight: 700;
  color: #48556a;
  width: 80%;
  margin-left: 10%;
}

.text h2 {
  font-size: 16px;
  font-weight: 500;
  color: #6d7f97;
  width: 80%;
  margin-left: 10%;
}

.name {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  margin-top: 10px;
}

.name p {
  position: relative;
  left: 15%;
  top: 10%;
  font-size: 13px;
  font-weight: 700;
  color: #48556a;
}

.name span {
  font-weight: 500;
  color: #6d7f97;
  margin-top: 1em;
}

.name button {
  background-color: #ecf2f8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  position: relative;
  top: 30%;
  left: 34%
}

.michelle-image {
  border-radius: 50%;
  width: 60%;
  position: relative;
  left: 50%;
  top: 20%;
}

.share {
  width: 90%;
  background-color: #48556a;
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  transform: translateY(-100%);
  visibility: hidden;
}

.show-share {
  visibility: visible;
}

.share p {
  color: #6d7f97;
  letter-spacing: 3px;
  font-weight: 500;
  margin-left: 40%;
}

.icons {
  margin: auto;
  padding-left: 40px;
}

.icons a {
  text-decoration: none;
  padding: 10px;
}

.share button {
  background-color: #ecf2f8;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  justify-content: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Tablet viewport  */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    height: 95vh;
    justify-content: center;
  }

  .card {
    width: 85vw;
    height: 25vh;
    grid-template-columns: 40% 60%;
  }

  .image {
    height: 100%;
  }

  .image img {
    width: 120%;
  }

  .wrapper {
    margin-top: 10px;
  }

  .heading h1 {
    font-size: 1.1rem;
  }

  .text h2 {
    font-size: 0.7rem;
  }

  .michelle-image {
    width: 45%;
    position: relative;
    top: 30%;
  }

  .share {
    width: 51vw;
    margin-left: 34vw;
    border-radius: 0 0 10px 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/* Desktop and above viewport  */

@media screen and (min-width: 1024px) {
  .container {
    height: 95vh;
    justify-content: center;
  }

  .card {
    width: 80vw;
    height: 35vh;
    grid-template-columns: 40% 60%;
    padding-bottom: 20px;
  }

  .wrapper {
    padding-top: 10px;
  }

  .image {
    height: 110%;
  }

  .heading h1 {
    font-size: 1.9rem;
  }

  .text h2{
    padding-top: 5px;
    font-size: 1rem;
  }

  .michelle-image{
    width: 40%;
    position: relative;
    left: 50%;
  }

  .name p {
    font-size: 1rem;
    position: relative;
    left: 5%;
    margin-bottom: 10px;
  }

  .name button{
    width: 45px;
    height: 45px;
    position: relative;
    left: 40%;
  }

/* share button css  */
  .share{
    width: 18vw;
    border-radius: 10px;
    box-shadow: 0 79px 77px -73px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: relative;
    left: 33%;
    bottom: 14%;
    grid-template-columns: 20% 79% 1%;
  }

  .share p{
    margin-left: 30px;
  }

  .share button{
    background-color: #48556a;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 200%;
    left: 41%;
    border: none;
  }

  .share::after {
  position: absolute;
  content: '';
  border: 20px solid transparent;
}

.bottom.share::after {
  /* DOWN TRIANGLE */
  border-top-color: #48556a;
  border-bottom: 0;
  /* POSITION TAIL AT BOTTOM OF BOX */
  bottom: -18px;
  left: 50%;
  margin-left: -20px;
}

  #close img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(159deg) brightness(105%) contrast(105%);
  }

  .icons{
    margin-left: 25px;
    padding: 0 40px;
    width: 80%;
  }

}
